# Resumen

Actualmente, **sin criterios de racionalizacion** para cerrar la brecha costaria **S/ 521,955,198**. Sin embargo si se usan los siguientes **criterios de ordenamiento**:

1) Nombrados excedentes se reubican dentro de su UGEL

2) Las plazas no nombradas excedentes se reubican a nivel **unidad ejecutora/regional/nacional** para cubrir los requerimientos

Con criterios de **ordenamiento de unidad ejecutora** se ahorraria **S/ 43,230,852**, con **ordenamiento regional** se ahorraria **S/ 57,155,496** y con **ordenamiento nacional** se ahorraria **S/ 65,706,042**

In [56]:
#Libraries
import os 
import pandas as pd
import numpy as np

os.chdir('D:\Brecha-no-docente') # Directorio de trabajo

In [57]:
df = pd.read_stata('Resultados\Brecha con costo.dta')

C:\Users\USUARIO\Anaconda3\lib\site-packages\pandas\io\stata.py:1457: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)

In [58]:
identificacion = ['d_dpto', 'region', 'pliego', 'codue', 'unidadejecutora', 'codooii', 'nombentidad', 'tipo_entidad']
datos = ['pers_limp_mant_n', 'pers_limp_mant_c', 'pers_limp_mant', 'opt_pers_limp_mant', 'exd_pers_limp_mant', 'req_pers_limp_mant',
        'pers_vigilancia_n', 'pers_vigilancia_c', 'pers_vigilancia', 'opt_pers_vigilancia', 'exd_pers_vigilancia', 'req_pers_vigilancia', 
         'coord_adm_ie_n', 'coord_adm_ie_c', 'coord_adm_ie', 'opt_coord_adm_ie', 'exd_coord_adm_ie', 'req_coord_adm_ie',
         'oficinista_n', 'oficinista_c', 'oficinista', 'opt_oficinista', 'exd_oficinista', 'req_oficinista',
         'secretario_n', 'secretario_c', 'secretario', 'opt_secretario', 'exd_secretario', 'req_secretario'
        ]

In [59]:
df_ugel = df.groupby(identificacion)[datos].sum()
df_ugel.reset_index(inplace = True)

for x in datos:
    df_ugel[x] = df_ugel[x].astype(int)

In [60]:
personal = ['pers_limp_mant','pers_vigilancia', 'coord_adm_ie', 'oficinista', 'secretario']

# Desagrego el personal excedente
for x in personal:
    df_ugel[f'exd_{x}_c'] = df_ugel[[f'exd_{x}',f'{x}_c']].min(axis=1)  
    df_ugel[f'exd_{x}_n'] = df_ugel[f'exd_{x}'] - df_ugel[f'exd_{x}_c']

# Brecha sin racionalizacion

En esta brecha se financia todos los requerimientos

In [61]:
# Calculo de la brecha
costo_oficinista = 12*1200+600+12*(1200*0.09)
costo_secretario = 12*1400+600+12*(1400*0.09)
costo_otros      = 12*1150+600+12*(1150*0.09)

brecha_sr = df_ugel.copy()
for x in personal:
    brecha_sr[f'brecha_sr_{x}'] = brecha_sr[f'req_{x}']
    if x == 'oficinista':
        brecha_sr[f'costo_brecha_sr_{x}'] = brecha_sr[f'brecha_sr_{x}']*costo_oficinista
    elif x == 'secretario':
        brecha_sr[f'costo_brecha_sr_{x}'] = brecha_sr[f'brecha_sr_{x}']*costo_secretario
    else:
        brecha_sr[f'costo_brecha_sr_{x}'] = brecha_sr[f'brecha_sr_{x}']*costo_otros

In [62]:
# Region
region_sr = brecha_sr.groupby('d_dpto').sum()

sr_costos = []
sr_personal = []
for x in personal:
    sr_personal.append(f'brecha_sr_{x}')
    sr_costos.append(f'costo_brecha_sr_{x}')

In [63]:
# Brecha en plazas
region_sr[sr_personal].style.format({'brecha_sr_pers_limp_mant'  : '{:20,.0f}', 
                                    'brecha_sr_pers_vigilancia' : '{:20,.0f}', 
                                    'brecha_sr_coord_adm_ie'    : '{:20,.0f}',
                                    'brecha_sr_oficinista'      : '{:20,.0f}', 
                                    'brecha_sr_secretario'      : '{:20,.0f}'})

In [64]:
# Brecha en costos
region_sr[sr_costos].style.format({'costo_brecha_sr_pers_limp_mant'  : 'S/{:20,.0f}', 
                                    'costo_brecha_sr_pers_vigilancia' : 'S/{:20,.0f}', 
                                    'costo_brecha_sr_coord_adm_ie'    : 'S/{:20,.0f}',
                                    'costo_brecha_sr_oficinista'      : 'S/{:20,.0f}', 
                                    'costo_brecha_sr_secretario'      : 'S/{:20,.0f}'})

In [65]:
# Resumen
resumen_sr_personal = list(brecha_sr[sr_personal].sum())
resumen_sr_costos = list(brecha_sr[sr_costos].sum())
personal_resumen = ['Limpieza y mantenimiento','Vigilantes','Coordinador administrativo','Oficinista','Secretario']
dict_resumen_sr = {'Perfiles': personal_resumen, 'Plazas': resumen_sr_personal, 'Costos': resumen_sr_costos} 
    
resumen_sr = pd.DataFrame(dict_resumen_sr)
resumen_sr.loc['5'] = resumen_sr.sum()
resumen_sr.iloc[5, resumen_sr.columns.get_loc('Perfiles')] = 'Total'

print('En resumen: ')
resumen_sr.style.format({'Plazas':'{:20,.0f}','Costos':'S/{:20,.0f}' })

En resumen:

# Brecha con racionalizacion

Criterios de ordenamiento:
1) Los **nombrados excedentes se reubican dentro de su propia UGEL a una IIEE con requerimiento:** El argumento de este movimiento es que al ser IIEE con mas de 140 alumnos son similares en sus caracteristicas

2) **Si aun existen nombrados excedentes ya no se reubican a una IIEE con requerimiento:** Esto se explica porque realizar un moviento dentro de la misma region puede ocasionar gastos de transporte asociados

3) **Las plazas contratadas o vacantes excedentes se mueven a nivel nacional una IIEE con requerimiento**

In [66]:
brecha_cr = df_ugel.copy()

for x in personal:
    # Brecha UGEL
    brecha_cr[f'brecha_ugel_{x}'] = brecha_cr[f'exd_{x}_n'] + brecha_cr[f'exd_{x}_c'] - brecha_cr[f'req_{x}']  
    # Nombrados que no pueden ser reasignados
    brecha_cr[f'nom_exd_rig_{x}'] = brecha_cr[f'exd_{x}_n'] - brecha_cr[f'req_{x}'] 
    brecha_cr[f'nom_exd_rig_{x}'] = np.where(brecha_cr[f'nom_exd_rig_{x}']<0, 0 , brecha_cr[f'nom_exd_rig_{x}'] )

In [67]:
#Brecha regional
for x in personal:
    brecha_cr[f'req1_{x}'] = brecha_cr[f'req_{x}'] - brecha_cr[f'exd_{x}_n'] 
    brecha_cr[f'req1_{x}'] = np.where(brecha_cr[f'req1_{x}']<0,0,brecha_cr[f'req1_{x}'])
    brecha_cr[f'brecha_cr_{x}'] = brecha_cr[f'exd_{x}_c'] - brecha_cr[f'req1_{x}']

region_cr = brecha_cr.groupby('region').sum()
region_cr[['brecha_cr_pers_limp_mant','brecha_cr_pers_vigilancia','brecha_cr_coord_adm_ie','brecha_cr_oficinista',
           'brecha_cr_secretario']]
for x in personal:
    if x == 'oficinista':
        region_cr[f'costo_brecha_cr_{x}'] = region_cr[f'brecha_cr_{x}']*costo_oficinista
    elif x == 'secretario':
        region_cr[f'costo_brecha_cr_{x}'] = region_cr[f'brecha_cr_{x}']*costo_secretario
    else:
        region_cr[f'costo_brecha_cr_{x}'] = region_cr[f'brecha_cr_{x}']*costo_otros

In [68]:
# Brecha en plazas
list_b_cr = ['brecha_cr_pers_limp_mant','brecha_cr_pers_vigilancia','brecha_cr_coord_adm_ie','brecha_cr_oficinista',
           'brecha_cr_secretario']
region_cr[list_b_cr].style.format({'brecha_cr_pers_limp_mant'  : '{:20,.0f}', 
                                    'brecha_cr_pers_vigilancia' : '{:20,.0f}', 
                                    'brecha_cr_coord_adm_ie'    : '{:20,.0f}',
                                    'brecha_cr_oficinista'      : '{:20,.0f}', 
                                    'brecha_cr_secretario'      : '{:20,.0f}'})

In [69]:
# Brecha en costos
list_b_cr_costos = ['costo_brecha_cr_pers_limp_mant','costo_brecha_cr_pers_vigilancia','costo_brecha_cr_coord_adm_ie','costo_brecha_cr_oficinista',
           'costo_brecha_cr_secretario']  

for x in list_b_cr_costos:
    region_cr.loc[region_cr[x]>0,x] = 0
    region_cr.loc[region_cr[x]<0,x] = np.absolute(region_cr[x])

region_cr[list_b_cr_costos].style.format({'costo_brecha_cr_pers_limp_mant'  : 'S/{:20,.0f}', 
                                        'costo_brecha_cr_pers_vigilancia' : 'S/{:20,.0f}', 
                                        'costo_brecha_cr_coord_adm_ie'    : 'S/{:20,.0f}',
                                        'costo_brecha_cr_oficinista'      : 'S/{:20,.0f}', 
                                        'costo_brecha_cr_secretario'      : 'S/{:20,.0f}'})

## Brecha con ordenamiento regional

In [70]:
#Dataframe Resumen
plazas_cr_regional = []
costos_cr_regional = []

for x in personal:
    # Plazas
    suma_plazas = region_cr.loc[region_cr[f'brecha_cr_{x}']<0, f'brecha_cr_{x}'].sum()
    plazas_cr_regional.append(suma_plazas)
    # Costos
    suma_costos = region_cr.loc[region_cr[f'costo_brecha_cr_{x}']!=0, f'costo_brecha_cr_{x}'].sum()
    costos_cr_regional.append(suma_costos)
    
plazas_cr_regional = list(np.absolute(plazas_cr_regional))
dic_cr_regional = {'Perfiles': personal_resumen, 'Plazas': plazas_cr_regional, 'Costos': costos_cr_regional}
resumen_cr_regional = pd.DataFrame(dic_cr_regional)

#Fila de total
resumen_cr_regional.loc['5'] = resumen_cr_regional.sum()
resumen_cr_regional.iloc[5, resumen_cr_regional.columns.get_loc('Perfiles')] = 'Total'

print('En resumen: ')
resumen_cr_regional.style.format({'Plazas':'{:20,.0f}','Costos':'S/{:20,.0f}' })

En resumen:

## Brecha con ordenamiento nacional

In [71]:
#Dataframe Resumen
plazas_cr_nacional = []

for x in personal:
    plazas_cr_nacional.append(f'brecha_cr_{x}')
    
plazas_cr_nacional = list(np.absolute(brecha_cr[plazas_cr_nacional].sum()))
dict_resumen_cr_nacional = {'Perfiles': personal_resumen, 'Plazas': plazas_cr_nacional}
resumen_cr_nacional = pd.DataFrame(dict_resumen_cr_nacional)

#Costos
resumen_cr_nacional['Costos'] = resumen_cr_nacional['Plazas']*costo_otros
resumen_cr_nacional.loc[resumen_cr_nacional['Perfiles'] == 'Oficinista', 'Costos' ] = costo_oficinista*resumen_cr_nacional['Plazas']
resumen_cr_nacional.loc[resumen_cr_nacional['Perfiles'] == 'Secretario', 'Costos' ] = costo_secretario*resumen_cr_nacional['Plazas']

#Fila de total
resumen_cr_nacional.loc['5'] = resumen_cr_nacional.sum()
resumen_cr_nacional.iloc[5, resumen_cr_nacional.columns.get_loc('Perfiles')] = 'Total'

print('En resumen: ')
resumen_cr_nacional.style.format({'Plazas':'{:20,.0f}','Costos':'S/{:20,.0f}' })

En resumen:

## Brecha con ordenamiento de ejecutora

In [72]:
# Base a nivel ejecutora 
brecha_ue = brecha_cr.groupby(['d_dpto','region','pliego','codue','unidadejecutora']).sum()
brecha_ue.reset_index(inplace = True)

for x in personal:
    brecha_ue.loc[brecha_ue[f'brecha_cr_{x}']>0,f'brecha_cr_{x}'] = 0
    brecha_ue.loc[brecha_ue[f'brecha_cr_{x}']<0,f'brecha_cr_{x}'] = np.abs(brecha_ue[f'brecha_cr_{x}'])

#Costos
for x in personal:
    if x == 'oficinista':
        brecha_ue[f'costo_brecha_cr_{x}'] = brecha_ue[f'brecha_cr_{x}']*costo_oficinista
    elif x == 'secretario':
        brecha_ue[f'costo_brecha_cr_{x}'] = brecha_ue[f'brecha_cr_{x}']*costo_secretario
    else:
        brecha_ue[f'costo_brecha_cr_{x}'] = brecha_ue[f'brecha_cr_{x}']*costo_otros

In [73]:
# Variables a presentar
var_limpieza = ['pers_limp_mant_n','pers_limp_mant_c','pers_limp_mant','opt_pers_limp_mant','exd_pers_limp_mant',
                'exd_pers_limp_mant_c','exd_pers_limp_mant_n','req_pers_limp_mant','nom_exd_rig_pers_limp_mant',
                'brecha_cr_pers_limp_mant','costo_brecha_cr_pers_limp_mant']


var_vigilancia = ['pers_vigilancia_n','pers_vigilancia_c','pers_vigilancia','opt_pers_vigilancia','exd_pers_vigilancia',
                  'exd_pers_vigilancia_c','exd_pers_vigilancia_n','req_pers_vigilancia','nom_exd_rig_pers_vigilancia',
                  'brecha_cr_pers_vigilancia','costo_brecha_cr_pers_vigilancia']

var_coord_adm = ['coord_adm_ie_n','coord_adm_ie_c','coord_adm_ie','opt_coord_adm_ie','exd_coord_adm_ie','exd_coord_adm_ie_c',
                'exd_coord_adm_ie_n','req_coord_adm_ie','nom_exd_rig_coord_adm_ie','brecha_cr_coord_adm_ie',
                 'costo_brecha_cr_coord_adm_ie']

var_ofi = ['oficinista_n','oficinista_c','oficinista','opt_oficinista','exd_oficinista','exd_oficinista_c',
          'exd_oficinista_n','req_oficinista','nom_exd_rig_oficinista','brecha_cr_oficinista','costo_brecha_cr_oficinista']

var_secre = ['secretario_n','secretario_c','secretario','opt_secretario','exd_secretario','exd_secretario_c','exd_secretario_n',
            'req_secretario','nom_exd_rig_secretario','brecha_cr_secretario', 'costo_brecha_cr_secretario']

identificacion = ['d_dpto','region','pliego','codue','unidadejecutora']
cols_ue = identificacion + var_limpieza + var_vigilancia + var_coord_adm + var_ofi + var_secre
brecha_ue = brecha_ue[cols_ue]

In [74]:
# Base corta de la brecha por unidad ejecutora
brecha_ue_corto = brecha_ue[identificacion+['brecha_cr_pers_limp_mant','costo_brecha_cr_pers_limp_mant',
'brecha_cr_pers_vigilancia','costo_brecha_cr_pers_vigilancia','brecha_cr_coord_adm_ie','costo_brecha_cr_coord_adm_ie',
'brecha_cr_oficinista', 'costo_brecha_cr_oficinista','brecha_cr_secretario','costo_brecha_cr_secretario']]

In [75]:
brecha_ue['brecha_cr_secretario'].sum()

238

In [76]:
#Dataframe Resumen
plazas_cr_ue = []
costos_cr_ue = []

for x in personal:
    # Plazas
    suma_plazas = brecha_ue.loc[brecha_ue[f'brecha_cr_{x}']>0, f'brecha_cr_{x}'].sum()
    plazas_cr_ue.append(suma_plazas)
    # Costos
    suma_costos = brecha_ue.loc[brecha_ue[f'costo_brecha_cr_{x}']!=0, f'costo_brecha_cr_{x}'].sum()
    costos_cr_ue.append(suma_costos)
    
plazas_cr_ue = list(np.absolute(plazas_cr_ue))
dic_cr_ue = {'Perfiles': personal_resumen, 'Plazas': plazas_cr_ue, 'Costos': costos_cr_ue}
resumen_cr_ue = pd.DataFrame(dic_cr_ue)

#Fila de total
resumen_cr_ue.loc['5'] = resumen_cr_ue.sum()
resumen_cr_ue.iloc[5, resumen_cr_ue.columns.get_loc('Perfiles')] = 'Total'

print('En resumen: ')
resumen_cr_ue.style.format({'Plazas':'{:20,.0f}','Costos':'S/{:20,.0f}' })

En resumen:

# Exportar tablas

In [77]:
# Diccionario de datos
data_dictionary ={
'pers_limp_mant_n': 'Personal de limpieza nombrado',
'pers_limp_mant_c': 'Personal de limpieza contratado',
'pers_limp_mant': 'Personal de limpieza',
'opt_pers_limp_mant': 'Personal de limpieza optimo',
'exd_pers_limp_mant': 'Personal de limpieza excedente',
'exd_pers_limp_mant_c': 'Personal de limpieza excedente contratado',
'exd_pers_limp_mant_n': 'Personal de limpieza excedente nombrado',
'req_pers_limp_mant': 'Requerimiento de personal de limpieza',
'nom_exd_rig_pers_limp_mant': 'Personal de limpieza nombrado excedente rigido',
'brecha_cr_pers_limp_mant': 'Brecha Personal de limpieza',
'costo_brecha_cr_pers_limp_mant': 'Costo brecha personal de limpieza',
'pers_vigilancia_n': 'Personal de vigilancia nombrado',
'pers_vigilancia_c': 'Personal de vigilancia contratado',
'pers_vigilancia': 'Personal de vigilancia',
'opt_pers_vigilancia': 'Personal de vigilancia optimo',
'exd_pers_vigilancia': 'Personal de vigilancia excedente',
'exd_pers_vigilancia_c': 'Personal de vigilancia excedente contratado',
'exd_pers_vigilancia_n': 'Personal de vigilancia excedente nombrado',
'req_pers_vigilancia':'Requerimiento de personal de vigilancia',
'nom_exd_rig_pers_vigilancia':'Personal de vigilancia nombrado excedente rigido',
'brecha_cr_pers_vigilancia':'Brecha Personal de vigilancia',
'costo_brecha_cr_pers_vigilancia':'Costo brecha personal de vigilancia',
'coord_adm_ie_n': 'Coordinador administrativo nombrado',
'coord_adm_ie_c': 'Coordinador administrativo contratado',
'coord_adm_ie': 'Coordinador administrativo',
'opt_coord_adm_ie': 'Coordinador administrativo optimo',
'exd_coord_adm_ie': 'Coordinador administrativo excedente',
'exd_coord_adm_ie_c': 'Coordinador administrativo excedente contratado',
'exd_coord_adm_ie_n': 'Coordinador administrativo excedente nombrado',
'req_coord_adm_ie': 'Requerimiento de coordinador administrativo',
'nom_exd_rig_coord_adm_ie': 'Coordinador administrativo nombrado excedente rigido',
'brecha_cr_coord_adm_ie': 'Brecha coordinador administrativo',
'costo_brecha_cr_coord_adm_ie': 'Costo brecha coordinador administrativo',
'oficinista_n':'Oficinista nombrado',
'oficinista_c':'Oficinista contratado',
'oficinista':'Oficinista',
'opt_oficinista':'Oficinista optimo',
'exd_oficinista':'Oficinista excedente',
'exd_oficinista_c':'Oficinista excedente contratado',
'exd_oficinista_n':'Oficinista excedente nombrado',
'req_oficinista':'Requerimiento oficinista',
'nom_exd_rig_oficinista':'Oficinista nombrado excedente rigido',
'brecha_cr_oficinista':'Brecha oficinista',
'costo_brecha_cr_oficinista':'Costo brecha oficinista',
'secretario_n':'Secretario nombrado',
'secretario_c':'Secretario contratado',
'secretario':'Secretario',
'opt_secretario':'Secretario optimo',
'exd_secretario':'Secretario excedente',
'exd_secretario_c':'Secretario excedente contratado',
'exd_secretario_n':'Secretario excedente nombrado',
'req_secretario':'Requerimiento de secretario',
'nom_exd_rig_secretario':'Secretario nombrado excedente rigido',
'brecha_cr_secretario':'Brecha secretario',
'costo_brecha_cr_secretario':'Costo brecha secretario'}
data_dictionary = pd.DataFrame(data=data_dictionary, index=['Descripcion'])
data_dictionary = data_dictionary.transpose()

In [78]:
writer = pd.ExcelWriter('Resultados\Brecha no docente.xlsx', engine='xlsxwriter')

brecha_sr.to_excel(writer, sheet_name='UGEL sin racio', index=False)
brecha_cr.to_excel(writer, sheet_name='UGEL con racio', index=False)
region_cr[['brecha_cr_pers_limp_mant','brecha_cr_pers_vigilancia','brecha_cr_coord_adm_ie','brecha_cr_oficinista',
          'brecha_cr_secretario']].to_excel(writer, sheet_name='Region con racio')
brecha_ue.to_excel(writer, sheet_name='UE con racio', index=False)
brecha_ue_corto.to_excel(writer, sheet_name='Brecha UE', index=False)
data_dictionary.to_excel(writer, sheet_name='Diccionario de datos')
brecha_ue_corto.to_excel(writer, sheet_name='Brecha UE', index=False)

writer.save()
writer.close()

C:\Users\USUARIO\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:338: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")